<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
    
    <!-- GERMAN -->
	<key>de</key>
	<array>
		<string>AALEN</string>
		<string>ABÄRT</string>
		<string>ABZOG</string>
		<string>ACHIM</string>
		<string>ACHSE</string>
		<string>ÄCHTE</string>
		<string>ÄCHZE</string>
		<string>ÄCKER</string>
		<string>ACRES</string>
		<string>ACRYL</string>
		<string>ADELE</string>
		<string>ADELT</string>
		<string>ADERN</string>
		<string>ADLON</string>
	</array>
    
    <!-- ITALIAN -->
	<key>it</key>
	<array>
		<string>ABACO</string>
		<string>AMACA</string>
		<string>ABBAI.ABBIA</string>
		<string>BEATO.BEOTA</string>
		<string>ABICI</string>
		<string>ABILE</string>
		<string>ABILI</string>
		<string>ABITO</string>
		<string>ABUSO</string>
		<string>ACARO</string>
		<string>ACETO</string>
	</array>
    
    
    <!-- ENGLISH -->
	<key>en</key>
	<array>
		<string>ALERT.LATER.ALTER</string>
		<string>ABETS.BEATS.BEAST</string>
		<string>ANGEL.ANGLE.GLEAN</string>
		<string>COATS.COAST.TACOS</string>
		<string>RATES.STARE.TEARS</string>
		<string>BRAKE.BAKER.BREAK</string>
		<string>BARED.BREAD.BEARD</string>
		<string>BEGIN.BEING.BINGE</string>
		<string>BELOW.BOWEL.ELBOW</string>
		<string>BORES.ROBES.SOBER</string>
		<string>PACES.SPACE.CAPES</string>
		<string>CRATE.TRACE.CATER</string>
		<string>CLAPS.CLASP.SCALP</string>
		<string>CRUEL.LUCRE.ULCER</string>
		<string>RATED.TRADE.TREAD</string>
		<string>DATES.SATED.STEAD</string>
		<string>EDITS.SITED.TIDES</string>
		<string>EARNS.NEARS.SNARE</string>
		<string>EARTH.HATER.HEART</string>
		<string>ITEMS.EMITS.TIMES</string>
		<string>TREES.STEER.TERSE</string>
		<string>THERE.THREE.ETHER</string>
		<string>HEARS.SHARE.HARES</string>
		<string>PHASE.SHAPE.HEAPS</string>
		<string>HEROS.HORSE.SHORE</string>
		<string>LEAPS.PALES.LAPSE</string>
		<string>TENOR.TONER.NOTER</string>
		<string>NOTES.STONE.TONES</string>
		<string>PANEL.PLANE.PENAL</string>
		<string>PARTS.STRAP.TRAPS</string>
		<string>SPARE.PARSE.SPEAR</string>
		<string>SLEPT.PELTS.SPELT</string>
		<string>SPIRE.PIERS.PRIES</string>
		<string>PINES.SPINE.SNIPE</string>
		<string>SAINT.SATIN.STAIN</string>
		<string>SERVE.SEVER.VERSE</string>
		<string>STATE.TASTE.TEATS</string>
		<string>WEIRD.WIRED.WIDER</string>
		<string>WORDS.SWORD</string>
		<string>ALLOY</string>
		<string>ATOMY</string>
		<string>BAKED</string>
		<string>BALLS</string>
		<string>BEACH</string>
		<string>BEAST</string>
		<string>BESTS</string>
		<string>BELLS</string>
		<string>DOZEN.ZONED</string>
		<string>DRIER.RIDER</string>
		<string>EAGER.AGREE</string>
		<string>EXIST.EXITS</string>
		<string>FIBER.BRIEF</string>
		<string>FIELD.FILED</string>
		<string>FLEES.FEELS</string>
		<string>FLESH.SHELF</string>
		<string>FREAK.FAKER</string>
		<string>FREED.DEFER</string>
		<string>FRIES.FIRES</string>
		<string>FUELS.FLUES</string>
		<string>LARGE.GLARE</string>
		<string>GREAT.GRATE</string>
		<string>HALLS.SHALL</string>
		<string>HATED.DEATH</string>
		<string>HIKES.SHEIK</string>
		<string>SHOCK.HOCKS</string>
		<string>HOOKS.SHOOK</string>
		<string>SHOES.HOSES</string>
		<string>IDEAS.AIDES</string>
		<string>INFER.FINER</string>
		<string>SKILL.KILLS</string>
		<string>LAMBS.BALMS</string>
		<string>LAYER.EARLY.RELAY</string>
		<string>LEEKS.KEELS.SLEEK</string>
		<string>LICKS.SLICK</string>
		<string>LISTS.SILTS.SLITS</string>
		<string>RULED.LURED</string>
		<string>RULES.LURES</string>
		<string>MARCH.CHARM</string>
		<string>MEALS.MALES</string>
		<string>LEMON.MELON</string>
		<string>SMELT.MELTS</string>
		<string>MOIST.OMITS</string>
		<string>SNAIL.NAILS</string>
		<string>NEEDS.DENSE</string>
		<string>NIGHT.THING</string>
		<string>OCEAN.CANOE</string>
		<string>PLANE.PANEL</string>
		<string>PARKS.SPARK</string>
		<string>SPEAK.PEAKS</string>
		<string>PEDAL.PLEAD</string>
		<string>POOLS.LOOPS.SPOOL</string>
		<string>SPORT.PORTS</string>
		<string>QUIET.QUITE</string>
		<string>RACES.CARES.ACRES</string>
		<string>BORED.ROBED</string>
		<string>SOBER.BORES.ROBES</string>
		<string>ROCKS.CORKS</string>
		<string>ROPES.SPORE.PORES</string>
		<string>ROSES.SORES</string>
		<string>TURNS.RUNTS</string>
		<string>LASTS.SALTS</string>
		<string>CENTS.SCENT</string>
		<string>SHARP.HAPRS</string>
		<string>SOUTH.SHOUT</string>
		<string>BRUSH.SHRUB</string>
		<string>SKINS.SINKS</string>
		<string>SIREN.RESIN.RISEN</string>
		<string>DISKS.SKIDS</string>
		<string>NAILS.SNAIL.SLAIN</string>
		<string>SMILE.LIMES.MILES</string>
		<string>SMASH.SHAMS</string>
		<string>SMELT.MELTS</string>
		<string>SNAPS.SPANS</string>
		<string>SPINS.SNIPS</string>
		<string>PILLS.SPILL</string>
		<string>SPOTS.STOPS.POSTS</string>
		<string>SPRAY.PRAYS</string>
		<string>STACK.TACKS</string>
		<string>STALK.TALKS</string>
		<string>STICK.TICKS</string>
		<string>TILTS.STILT</string>
		<string>PARTS.STRAP.TRAPS</string>
		<string>STRIP.TRIPS</string>
		<string>STUDY.DUSTY</string>
		<string>URGES.SURGE</string>
		<string>WELLS.SWELL</string>
		<string>SWING.WINGS</string>
		<string>SWIPE.WIPES</string>
		<string>ATTIC.TACIT</string>
		<string>MATED.TAMED</string>
		<string>TIMES.MITES.ITEMS</string>
		<string>TIRED.TRIED</string>
		<string>NOTED.TONED</string>
		<string>SMART.TRAMS.MARTS</string>
		<string>TUTOR.TROUT</string>
		<string>UNITE.UNTIE</string>
		<string>UNTIL.UNLIT</string>
		<string>SAVES.VASES</string>
		<string>LIVES.VEILS</string>
		<string>VEINS.VINES</string>
		<string>VERSE.SERVE</string>
		<string>VIRAL.RIVAL</string>
		<string>VOTES.STOVE</string>
		<string>WAIST.WAITS</string>
		<string>STRAW.WARTS</string>
		<string>WASTE.SWEAT</string>
        
	</array>
</dict>
</plist>
